main.dlc-cabecalho-lp-pais{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
}
.dlc-topo{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    margin-top: 13px;
}
.dlc-cabecalho-pais{
    
    font-size: 2.2rem;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    

}
.varalTexto{
    font-family: futura-pt, sans-serif!important;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.dlc-imagem-topo img{
    max-width: 1040px;
    /*width: 100%;*/
    margin: 0 auto;   
    position: absolute;
    
}
.dlc-img-camp{
    opacity: 80%;
}
.dlc-imagem-titulo img{
    max-width: 50% !important;
    height: auto;       
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 320px 0px;
    position: relative;
    
}


.dlc-sub-titulo{
    font-family: playfair-display, serif;
    font-weight: 500;
    font-size: 32px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    
}

div.dlc-sub-titulo strong i {
    font-style: italic!important;
    font-family: playfair-display, serif;
    font-weight: 500;
}

.dlc-texto{
    font-family: playfair-display, serif!important;
    font-weight: 400!important;
    font-style: normal!important;
    text-align: center;
    max-width: 810px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.dlc-texto h3{
    font-size: 1.875rem;
    font-family: futura-pt, sans-serif!important;
    font-weight: 500!important;
    font-style: italic!important;
    padding: 1.25rem;
    text-decoration: none;

}
.dlc-texto span{
    font-size: 1.375rem;
    font-family: playfair-display, serif!important;
    font-weight: 400!important;
    font-style: normal!important;
    margin-bottom: 1.25rem;
    text-decoration: none;

}
div.dlc-texto span{
    font-family: playfair-display, serif!important;
    font-weight: 400!important;
    font-style: normal!important;
}
.dlc-grid{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.dlc-grid img{
    max-width: 512px;
    width: 100%;
    
}
.dlc-texto-bloco-1{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*padding: 40px;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 26px;
}
.dlc-texto-bloco-1 span{
    font-family: playfair-display, serif!important;
    font-weight: 400!important;
    font-style: normal!important;
    font-size: 24px;
    padding: 25px 70px 0px;
    margin-top: -40px;
    margin-bottom: -20px;
}
.dlc-texto-bloco-1 h3{
    font-family: playfair-display, serif!important;
    font-weight: 500!important;
    font-style: italic!important;
    color: #8A4A3D;
    font-size: 43px;
    padding: 30px;
}

.dlc-trocar{
    display: flex;
    order: 2;
    
}
.dlc-img-bloco-1 img{
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
}
.content-rewards-vantagens {
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
    background-color: #fff;

}
.grid-vantagens {
    display: grid;
    max-width: 1040px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin-top: 1.5rem;
    gap: 21px;
}
.box-vantagens {
    border-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 20px;
    text-align: center;
}
.box-vantagens-1 {
    max-width: 248px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    text-align: center;
    background-color: #F0F0F0;
}
.box-vantagens-1 img{
    padding: 15px;
}
.ver_mais {
    /* margin: 0 auto; */
    text-align: center;
    margin: 50px 0px;
}
.ver_mais a {
    font-family: futura-pt, sans-serif;
    padding: 10px;
    color: white;
    background: black;
    text-align: center;
    font-size: 16px;
    width: 27vw;
    margin: 4.4vw auto;
    max-width: 190px;
    text-decoration: none;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px 10px;

}
.ver_mais a:hover {
    color: black;
    background: white;
    transition: 0.5s;

}
.dlc-foto-resp{
    max-width: 212px;
    width: 100%;
}
.dlc-varal-produtos{
    margin-bottom: 25px;
}


@media screen and (max-width: 600px) {
    .dlc-grid{
        grid-template-columns: 1fr;
        justify-items: center;
        
    }
    .dlc-topo{
        margin-top: 75px;
    }
    .content-rewards-vantagens {
        margin-top: 1.5rem;
        padding: 0;
    }
    .grid-vantagens {
        width: 100%;
        gap: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .box-vantagens {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

    }
    .dlc-foto-resp{
        max-width: 100%;
    }
    .dlc-trocar{
    display: flex;
    order:initial;
    
    }
    main.dlc-cabecalho-lp-pais{
        margin-top: 10px;
    }
    .dlc-texto{
        padding: 10px;
        font-size: 20px;
    }
    .dlc-sub-titulo{
        font-size: 26px;
        margin-top: 100px;
    }
    .dlc-imagem-titulo img{
        padding: 100px 0px  ; 
    }
    .dlc-texto-bloco-1 span{
        padding: 0 20px;
    }
    .dlc-texto-bloco-1 h3{
        padding: 70px 0px;
    }

    
}

@media screen and (min-width: 688px) and (max-width: 1031px) {
    .dlc-imagem-titulo img{
        padding: 230px 0px  ; 
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .dlc-imagem-titulo img{
        padding: 280px 0px  ; 
    }
    .dlc-sub-titulo{
        padding: 70px 0px 0px;
    }
}